@import "./variables";

@mixin blackButton {
  border-radius: 35.616px;
  background: $black-color;
  padding: 10px 40px;
  border: none;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  &:hover {
    cursor: pointer;
  }
}
