@import "../abstracts/variables";
@import "../abstracts/mixin";

.navbar {
  background: $allBackgroudColor;
  .container {
    max-width: 1200px;
    margin: 0 auto;
    .nav {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 45px 0;
      &__navRight {
        display: flex;
        gap: 30px;
        &__Links {
          display: flex;
          align-items: center;
          gap: 20px;
          .Links__Link {
            color: #21282f;
            font-family: Roboto;
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-decoration: none;
            &:active {
              color: #f4545a;
            }
          }
        }
        &__Buttons {
          display: flex;
          align-items: center;
          gap: 20px;
          .blackButton {
            color: #fff;
            @include blackButton;
          }
          .whiteButton {
            @include blackButton;
            background: $allBackgroudColor;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1240px) {
  .container {
    padding: 0 30px;
  }
}

@media screen and (min-width: 1100px) {
  .icon {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .icon {
    border: none;
    background: transparent;
    padding: 5px;
    &:hover {
      cursor: pointer;
    }
  }
  .navbar {
    .container {
      .nav {
        &__navRight {
          &__Links {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .navbar {
    .container {
      .nav {
        &__navRight {
          &__Buttons {
            display: none;
          }
        }
      }
    }
  }
}
