.qovun {
  margin-top: 175px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 578px;
}
.tarvuz {
  margin-top: 75px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 160px;
  margin-bottom: 280px;
}
.svgDiv {
  margin-top: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1145px) {
  .qovun {
    gap: 370px;
  }
  .tarvuz {
    gap: 50px;
  }
}
@media screen and (max-width: 1035px) {
  .qovun {
    gap: 100px;
  }
  .tarvuz {
    gap: 40px;
  }
}
@media screen and (max-width: 773px) {
  .qovun {
    gap: 100px;
  }
}
