.contact-section {
  margin-top: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 46px;
}
.contact-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 450px;
  margin-bottom: 72px;
  h3 {
    color: #21282f;
    font-family: Roboto;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  p {
    color: #21282f;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 120% */
  }
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 13px;
  input {
    border-radius: 8px;
    background: #fff;
    padding: 25px 26px;
    width: 351px;
    color: #21282f;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    border: transparent;
  }
}
textarea {
  border-radius: 8px;
  background: #fff;
  padding: 33px 27px;
  width: 1070px;
  height: 243px;
  border: transparent;
}
.contact-btn {
  @include blackButton;
  color: white;
  margin-bottom: 126px;
}

@media screen and (max-width: 1115px) {
  .contact-header {
    gap: 350px;
  }
}

@media screen and (max-width: 1080px) {
  textarea {
    width: 970px;
    height: 143px;
  }
}

@media screen and (max-width: 990px) {
  textarea {
    width: 870px;
    height: 143px;
  }
}

@media screen and (max-width: 980px) {
  .contact-header {
    gap: 150px;
  }
}

@media screen and (max-width: 877px) {
  textarea {
    width: 670px;
    height: 143px;
  }
}
@media screen and (max-width: 780px) {
  .contact-header {
    gap: 70px;
  }
}

@media screen and (max-width: 700px) {
  .contact-header p {
    text-align: center;
    padding: 0, 20px;
  }
  textarea {
    width: 470px;
    height: 143px;
  }
}

@media screen and (max-width: 480px) {
  textarea {
    width: 350px;
    height: 143px;
  }
}
