.fees-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 130px;
  margin-top: 170px;
  .header-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 450px;
    margin-bottom: 30px;
    h3 {
      color: #21282f;
      font-family: Roboto;
      font-size: 46px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    p {
      color: #21282f;
      font-family: Roboto;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px; /* 120% */
    }
  }
  .fees-main {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 160px;
    .left-fee {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 90px;
      margin-bottom: 300px;
      h5 {
        color: #21282f;
        font-family: Roboto Slab;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px; /* 120% */
        padding-bottom: 20px;
      }
      .fee-left-item {
        padding-top: 56px;
        border-top: 1px solid #2d404e;
        display: flex;

        align-items: center;
        justify-content: center;
        gap: 260px;
        p {
          color: #21282f;
          font-family: Roboto;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%; /* 19.6px */
        }
      }
      .nott {
        padding-top: 0;
        border-top: none;
      }
    }
  }
}

.leftt {
  display: flex;

  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

@media screen and (max-width: 1015px) {
  .fees-section .header-item {
    gap: 300px;
  }
}
@media screen and (max-width: 978px) {
  .fees-section .fees-main .left-fee {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 850px) {
  .fees-section .header-item {
    gap: 200px;
  }
}

@media screen and (max-width: 745px) {
  .fees-section .header-item {
    gap: 100px;
  }
}

@media screen and (max-width: 641px) {
  .fees-section .header-item {
    margin-bottom: 0;
  }
  .fees-section .header-item p {
    text-align: center;
  }
}

@media screen and (max-width: 460px) {
  .fees-section .fees-main .left-fee .fee-left-item {
    gap: 150px;
  }
  .fees-section .header-item p {
    padding: 0 15px;
  }
}
