.how-it {
  position: relative;
  display: flex;
  padding: 70px 14px 70px 78px;
  justify-content: space-between;
  border-bottom: 1px solid #2d404e;
  gap: 321px;
}
@media (max-width: 1286px) {
  .how-it {
    padding: 70px 90px;
  }
}

@media (max-width: 1192px) {
  .how-it,
  .securePayment {
    width: 80%;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}
@media (max-width: 697px) {
  .WhyUse {
    padding: 50px 40px;
    &__title {
      font-size: 40px;
    }
    &__text {
      font-size: 18px;
    }
  }
  .securePayment {
    padding: 50px 70px;
  }
}
@media (max-width: 600px) {
  .securePayment {
    padding: 50px 38px;
  }
}
