.WhyUse {
  position: relative;
  display: flex;
  padding: 70px 14px 70px 72px;
  align-items: start;
  justify-content: space-between;
  border-bottom: 1px solid #2d404e;
  gap: 500px;

  &__title {
    color: #21282f;
    font-family: Roboto;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__text {
    color: #21282f;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }
}

.securePayment {
  position: relative;
  padding: 70px 80px 100px;
  display: flex;
  justify-content: space-between;

  h3 {
    color: #21282f;
    font-family: Roboto Slab;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  p {
    color: #21282f;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 30px;
  }
}
.text-img {
  display: flex;
  align-items: end;
}
@media (max-width: 1286px) {
  .WhyUse {
    padding: 70px 90px;
  }
}

@media (max-width: 1192px) {
  .WhyUse,
  .securePayment {
    width: 80%;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
    align-items: ceneter;
    justify-content: ceneter;
    gap: 10px;
  }
}
@media (max-width: 697px) {
  .WhyUse {
    padding: 50px 40px;
    &__title {
      font-size: 40px;
    }
    &__text {
      font-size: 18px;
    }
  }
  .securePayment {
    padding: 50px 70px;
  }
}
@media (max-width: 600px) {
  .securePayment {
    padding: 50px 38px;
  }
}
